.Banner {
    padding-top: 80px;
    background-image: linear-gradient(to right bottom, rgba(219, 220, 222, 0.3),
            rgba(265, 167, 0, 0.5), rgba(32, 31, 31, 0.2));
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SuperText {
/*	text-transform: uppercase; */
	letter-spacing: .5em;
	display: inline-block; 
/*	border: 4px double rgba(255,255,255,.25); */
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
}

.spanText {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
}